<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <li><a href="/reports/rentroll">Rent Roll</a></li>
      <li><a href="/reports/findtenant">Find Tenant</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">

    </ul>
  </div>
</div>

<h1>Rent Roll Example</h1>
<% if(tenants!=null) { %>

<!-- <div class="table-responsive"> -->
<table class="table">
  <tr>
    <% tableHeaders.forEach(header => { %>
    <th><%- header %> </th>
    <% }) %>
    <!-- <th>First name</th>
      <th>Last name</th>
      <th>Landlord</th> -->
  </tr>
  <% tenants.forEach(function(tenant, index, array){ %>
  <tr>
    <td><%= tenant["firstName"] || tenant["First Name"]%></td>
    <td><%= tenant["lastName"] || tenant["Last Name"]%></td>
    <td><%= tenant["landlordControl"] || tenant["Landlord Control"]%></td>
  </tr>
  <% }) %>
</table>
<!-- </div> -->

<% } %>

<%- include('partials/footer') -%>