<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <li><a href="/reports/rentroll">Rent Roll</a></li>
      <li><a href="/reports/findtenant">Find Tenant</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">

    </ul>
  </div>
</div>

<h1><%= tableHeading %> </h1>
<% if(tenants!=null) { %>

<!-- <div class="table-responsive"> -->
<!-- <table class="table">
  <tr>
    <% tableHeaders.forEach(header => { %>
    <th><%- header %> </th>
    <% }) %>
  </tr>

  <% tenants.forEach(tenant => { %>
  <tr>
    <td><%= tenant["Lease Date"] %></td>
    <td><%= tenant["Building Control"] %></td>
    <td><%= tenant["Street Control"] %> </td>
    <td><%= `${tenant["First Name"]} ${tenant["Last Name"]}` || tenant["First Name"] %> </td>
    <td><%= tenant["Full Name 2"] %> Full Name 2</td>
    <td><%= tenant["leaseStart"] %> </td>
    <td><%= tenant["leaseEnd"] %> </td>
    <td><%= tenant["numOfBedrooms"] %> </td>
    <td><%= tenant["tenantStatus"] %> </td>
    <td><%= tenant["tenantStatusDate"] %> </td>
    <td><%= tenant["tenantTenureDate"] %> </td>
    <td><%= tenant["renewalRent"] %> </td>
    <td><%= tenant["carportRent"] %> </td>
    <td><%= tenant["petFee"] %> </td>
  </tr>
  <% }) %>
</table> -->
<!-- </div> -->

<% } %>

<%- include('partials/footer') -%>