<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Table Test</title>
        <link rel="stylesheet" href="css/table.css">
    </head>
    <body>
        <h1>Rent Roll Example</h1>

        <% if(info!=null) { %>
        <table>
            <tr>
                <th>Lease Date</th>
                <th>Bldg Ctrl</th>
                <th>Street Ctrl</th>
                <th>Apt No</th>
                <th>LL Ctrl</th>
                <th>Full Name(calc)</th>
            </tr>

            <% info.forEach(function(item){ %>
            <tr>
                <td><%= item["Lease Date"]%></td>
                <td><%= item["Bldg Ctrl"] %></td>
                <td><%= item["Street Ctrl"]%></td>
                <td><%= item["Apt No"] %></td>
                <td><%= item["LL Ctrl"]%></td>
                <td><%= item["Full Name (Calc)"]%></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </body>
</html>
